.header {
  font-size: 3rem;
  line-height: 1.1;
}

.img_container {
  display: flex;
  justify-content: center;
}

.img {
  border: 1px solid #64ffda;
  border-radius: 8px;
  filter: saturate(0%);
  width: 70%;
  height: 100%;
  transform: rotate(3deg);
}

.img:hover {
  filter: hue-rotate(0deg) !important;
}

.header {
  margin-bottom: 1rem;
}

.desc {
  margin: 1rem 0;
}